@if (Request.IsAuthenticated)
{
    ViewBag.Title = "Import";

    @Html.Partial("MessageControl")

    <div class="row">
        <div class="col-md-12">
            @using (Html.BeginForm("UploadFile", "Polish", FormMethod.Post, new { @class = "margin-btm", @role = "form", enctype = "multipart/form-data" }))
            {    @Html.AntiForgeryToken()
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a data-toggle="collapse" href="#uploadcollapse"><h3>Upload Polish</h3></a>
                </div>
                <div class="panel-collapse" id="uploadcollapse">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="input-group">
                                    <span class="input-group-btn">
                                        <span class="btn btn-primary btn-file">Browse&nbsp;&nbsp;<span class="glyphicon glyphicon-search"></span><input type="file" name="file" /></span>
                                    </span>
                                    <input class="form-control" type="text" readonly="" id="file_display">
                                </div>
                            </div>
                        </div>
                        <div class="row margin-top-5">
                            <div class="col-md-3">
                                <input class="form-control btn btn-primary" type="submit" onclick="loading();" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <script>
                    $(document).on('change', '.btn-file :file', function () {
                        var input = $(this),
                        numFiles = input.get(0).files ? input.get(0).files.length : 1,
                        label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
                        $('#file_display').val(label);
                    });
            </script>
            }
        </div>
        <div class="col-md-2"></div>
    </div>
}
else
{
    TempData["Errors"] = "Please Log in.";
    Response.Redirect("~/Account/Login");
}