@model PolishWarehouse.Models.PolishModel[]
@{
    ViewBag.Title = "Polish List";
}

@Html.Partial("MessageControl")

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <a data-toggle="collapse" href=""><h3>Polish List</h3></a>
            </div>
            <div class="panel-collapse" id="Polishcollapse">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12 table-responsive">
                            @*<input type="text" onkeyup="SortTable('salestable',this)" />*@
                            <table class="table table-hover table-condensed datatable" id="polishtable">
                                <thead>
                                    <tr>
                                        <th>Brand</th>
                                        <th>Name</th>
                                        <th>Description</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var polish in Model)
                                    {
                                        <tr>
                                            <td>@polish.BrandName</td>
                                            <td>@polish.PolishName</td>
                                            <td>@polish.Description</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <script>
            $(document).ready(function () {
                $('#polishtable').dataTable({
                    "pageLength": 100,
                    "deferLoading": true,
                    "lengthMenu": [[10, 25, 50, 100, 150, 200, -1], [10, 25, 50, 100, 150, 200, "All"]],
                });
            });
        </script>
    </div>
</div>