body {
	padding-top: 50px;
	padding-bottom: 20px;
	background-color: #333333;
	/*background-image: url("Images/background-mm.jpg");*/
    color:#DDD;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.btn-file {
	position: relative;
	overflow: hidden;
}

	.btn-file input[type=file] {
		position: absolute;
		top: 0;
		right: 0;
		min-width: 100%;
		min-height: 100%;
		font-size: 100px;
		text-align: right;
		filter: alpha(opacity=0);
		opacity: 0;
		outline: none;
		background: white;
		cursor: inherit;
		display: block;
	}

    .margin-top-5 {
	margin-top: 5px;
}

    .panel {
	border-color: #333333;
}

.panel-default > .panel-heading {
	background-color: #333333;
	color: #AAAAAA;
}

	.panel-default > .panel-heading h3 {
		margin: 0;
	}

	.panel-default > .panel-heading a {
		color: #AAAAAA;
	}

.panel-body {
	background-color: #1A1A1A;
}

#polishtable {
	background-color: #000000;
	color: #EEEEEE;
}

#polishtable tr:hover td {
	background-color: #1A1A1A;
	color: #EEEEEE;
}