@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3>Error</h3>
            </div>
            <div class="panel-collapse" id="Polishcollapse">
                <div class="panel-body text-center">
                    <div class="row">
                        <div class="col-lg-12">
                            <h2>Oppps! Something went wrong, here's a picture of a kitten to make you feel better.</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <img src="~/Content/Images/500.jpg" class="error-image" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
